html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.workbench-full-width > * {
  margin: 0;
  max-width: none;
}

.react-draggable, .react-draggable.react-resizable {
  position: absolute;
}

.resizable-box-width-border {
  border: 1px dotted rgba(0, 0, 0, 0.5);
}